extends ../base/layout.pug

block data
  include ../data/main-nav.data.pug
  include ../data/promo.data.pug
  include ../data/intro.data.pug

block variables
  -
    const title = "Кенан Агаев | Портфолио";
    const hasHeader = true;
    const hasFooter = true;
    const currentPage = "main"; //- для остальных страниц пишем либо пустую строку, либо индекс
    const pageTitle = "Сайт-портфолио";

block append head
  //- используйте только для шрифта находящегося на первом экране
  link(rel="preload", href="fonts/fira-sans-regular.woff2", as="font", crossorigin="anonymous")
  link(rel="preload", href="fonts/comfortaa-regular.woff2", as="font", crossorigin="anonymous")

block nav
  +main-nav(mainNav)

block main
  main
    h1.visually-hidden !{pageTitle}
    +promo(promoData)
    +intro(introData)

block modals
