.works-card {
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px;
  border-bottom: 1px solid rgba($color: $color-nero, $alpha: 0.3);
}

.works-card__title {
  margin-bottom: 15px;
  text-align: center;

  a {
    @include interactive-opacity;
  }
}

.works-card__img-wrap {
  margin-bottom: 15px;
  height: 200px;
  transition: filter $default-transition-settings;

  &:hover {
    filter: blur(1px) grayscale(50%);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.works-card__tech-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  span {
    @include typo(14, 20);

    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px 5px;
    border: 1px solid rgba($color: $color-nero, $alpha: 0.3);
    border-radius: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.works-card__description {
  @include typo(18, 30);

  margin: 0;
  margin-bottom: 30px;

  @include viewport--sm {
    @include typo(16, 24);
  }
}

.works-card__footer {
  @include typo(20, 32);

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;

  @include viewport--sm {
    @include typo(16, 24);
  }
}

.works-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  font-weight: 700;
  letter-spacing: 0.04em;
  transition: color $default-transition-settings;

  &:last-child {
    font-size: 0;
  }

  &:hover {
    color: $color-orange;
  }
}
