.main-nav {
  display: flex;
  position: relative;
  align-items: center;

  @include viewport--sm {
    padding-top: 3px;
  }

  ul {
    @include list-reset;

    display: flex;
  }

  li {
    margin-right: 30px;
    flex-shrink: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include typo(16, 22);
    @include interactive-opacity;

    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;

    @include viewport--sm {
      @include typo(14, 20);
    }
  }
}
