-
  const footerData = {
    socials: [
      {
        name: "vk",
        href: "https://vk.com/heresy8",
        icon: {
          name: "icon-vk",
          width: "30",
          height: "30",
        },
      },

      {
        name: "fb",
        href: "https://facebook.com/kenan.agaev.56",
        icon: {
          name: "icon-fb",
          width: "30",
          height: "30",
        },
      },

      {
        name: "github",
        href: "https://github.com/kenakula",
        icon: {
          name: "icon-github",
          width: "30",
          height: "30",
        },
      },
    ],
  };
