-
  const promoData = {
    text: "It’s the job that’s never started as takes longest to finish",
    img: {
      path: "img/content/avatar",
      imgType: "jpg",
      width: "200",
      height: "200",
      altText: "аватарка",
    },
  };
