-
  const promoData = {
    text: "It’s the job that’s never started as takes longest to finish",
    img: {
      path: "content",
      name: "avatar",
      format: "jpg",
      width: "200",
      height: "200",
      alt: "аватарка",
    },
  };
