-
  const worksData = {
    title: "Works",
    worksList: [
      {
        name: "Antarctica",
        desription: "Тренировочный проект на основе макета HTML Академии. Сайт круизов в Антарктику и Арктику.",
        links: {
          details: {
            name: "Просмотреть",
            href: "https://kenakula.github.io/Antarctica/build/index.html",
          },
          github: {
            name: "Ссылка на гитхаб",
            href: "https://github.com/kenakula/Antarctica",
            icon: {
              name: "icon-github",
              width: "25",
              height: "25",
            },
          },
        },
        img: {
          path: "img/content/works-antarctica",
          imgType: "jpg",
          width: "427",
          height: "192",
          altText: "Превью страницы проекта",
        },
        techs: [
          "BEM", "SCSS", "svg-sprite", "ES6", "LocalStorage", "Gulp",
        ]
      },

      {
        name: "Israel",
        desription: "Тренировочный проект на основе макета HTML Академии. Резиновая, адаптивная верстка. Сборка проекта с использованием Gulp.",
        links: {
          details: {
            name: "Просмотреть",
            href: "https://kenakula.github.io/Israel/build/index.html",
          },
          github: {
            name: "Ссылка на гитхаб",
            href: "https://github.com/kenakula/Israel",
            icon: {
              name: "icon-github",
              width: "25",
              height: "25",
            },
          },
        },
        img: {
          path: "img/content/works-israel",
          imgType: "jpg",
          width: "427",
          height: "192",
          altText: "Превью страницы проекта",
        },
        techs: [
          "BEM", "SCSS", "svg-sprite", "ES6", "LocalStorage", "Gulp",
        ]
      },

      {
        name: "Koteyka",
        desription: "Тренировочный проект на основе макета HTML Академии. Резиновая, адаптивная верстка. Сборка проекта с использованием Gulp. Сайт котячьей гостиницы.",
        links: {
          details: {
            name: "Просмотреть",
            href: "https://kenakula.github.io/Koteyka/build/index.html",
          },
          github: {
            name: "Ссылка на гитхаб",
            href: "https://github.com/kenakula/Koteyka",
            icon: {
              name: "icon-github",
              width: "25",
              height: "25",
            },
          },
        },
        img: {
          path: "img/content/works-koteyka",
          imgType: "jpg",
          width: "427",
          height: "192",
          altText: "Превью страницы проекта",
        },
        techs: [
          "BEM", "SCSS", "svg-sprite", "ES6", "LocalStorage", "Gulp",
        ]
      },

      {
        name: "Весна Всегда",
        desription: "Тренировочный проект на основе макета HTML Академии. Резиновая, адаптивная верстка. Сборка проекта с использованием Gulp. Сайт студии флористики, оформление свадеб и торжеств.",
        links: {
          details: {
            name: "Просмотреть",
            href: "https://kenakula.github.io/VesnaVsegda/build/index.html",
          },
          github: {
            name: "Ссылка на гитхаб",
            href: "https://github.com/kenakula/VesnaVsegda",
            icon: {
              name: "icon-github",
              width: "25",
              height: "25",
            },
          },
        },
        img: {
          path: "img/content/works-floristica",
          imgType: "jpg",
          width: "427",
          height: "192",
          altText: "Превью страницы проекта",
        },
        techs: [
          "BEM", "SCSS", "svg-sprite", "ES6", "LocalStorage", "Gulp",
        ]
      },

      {
        name: "Way",
        desription: "Тренировочный проект на основе макета HTML Академии. Резиновая, адаптивная верстка. Сборка проекта с использованием Gulp. Сайт по продаже туров в Европу.",
        links: {
          details: {
            name: "Просмотреть",
            href: "https://kenakula.github.io/Way/build/index.html",
          },
          github: {
            name: "Ссылка на гитхаб",
            href: "https://github.com/kenakula/Way",
            icon: {
              name: "icon-github",
              width: "25",
              height: "25",
            },
          },
        },
        img: {
          path: "img/content/works-Way",
          imgType: "jpg",
          width: "427",
          height: "192",
          altText: "Превью страницы проекта",
        },
        techs: [
          "BEM", "SCSS", "svg-sprite", "ES6", "LocalStorage", "Gulp",
        ]
      },

      {
        name: "Cat Energy",
        desription: "Тренировочный проект на основе макета HTML Академии. Интернет-магазин по продаже спортивного, диетического питания для котов и кошек.",
        links: {
          details: {
            name: "Просмотреть",
            href: "https://kenakula.github.io/Cat-Energy/build/index.html",
          },
          github: {
            name: "Ссылка на гитхаб",
            href: "https://github.com/kenakula/Cat-Energy",
            icon: {
              name: "icon-github",
              width: "25",
              height: "25",
            },
          },
        },
        img: {
          path: "img/content/works-energy",
          imgType: "jpg",
          width: "427",
          height: "192",
          altText: "Превью страницы проекта",
        },
        techs: [
          "BEM", "SCSS", "svg-sprite", "ES6", "LocalStorage", "Gulp",
        ]
      },
    ],
  };
