mixin promo(props)
  - const {text, img} = props;
  - const {path, name, format, width, height, alt} = img;
  - const imgPath = `img/${path}/${name}`;

  section.promo
    .container
      p.promo__text !{text}
      .promo__img
        +picture(img)
