mixin promo(props)
  - const {text, img} = props;
  - const {path, name, format, width, height, alt} = img;

  section.promo
    .container
      p.promo__text !{text}
      .promo__img
        +img(path, name, format, width, height, alt)
